<a href="https://colab.research.google.com/github/nitinfaye/Salary-Satisfication-model-/blob/main/salary_satisfaction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#install scikit-learn liabrary

In [1]:
!pip install -U scikit-learn
!pip install pandas

Requirement already up-to-date: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.24.2)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

##import liabrary

In [2]:
import os
import csv
import datetime
import joblib
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from random import Random
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

#  Load dataset

In [3]:
with open("salary,satisfaction.csv", "r",encoding="ISO-8859-1") as file_obj:
  file_data = csv.DictReader(file_obj, skipinitialspace = True)
  file_list = list(file_data)
  file_list

In [4]:
df =pd.DataFrame(file_list)
df.head()

         id Target_Salary  ...          phones CrimeTime
0  68407277         42405  ...  (510) 528-2375  23:30:00
1  68355089         60740  ...  (510) 528-2375  23:00:00
2  68341763      51907.68  ...  (510) 528-2375  22:53:00
3  66310712      51907.68  ...  (510) 528-2375  22:50:00
4  68476807            35  ...  (510) 528-2375  22:31:00

[5 rows x 83 columns]

##Random Forest Regression

In [5]:
df_new = df.groupby('id').sum()['Target_Salary'].reset_index()
df_new.head()

         id Target_Salary
0    361774         82008
1  65484553         56990
2  65855720         40275
3  65856059       31.3132
4  65885934         71423

In [6]:
def tts(data):
  
    train, test = train_test_split(data.values ,test_size=0.20,random_state= 110)
    
    return train, test

train, test = tts(df_new)

In [7]:
print(train.shape)
print(test.shape)

(2356, 2)
(590, 2)

In [8]:
def scale_data(train_set, test_set):
    #apply Min Max Scaler
    scaler = MinMaxScaler(feature_range=(-1, 1))
    scaler = scaler.fit(train_set)
    
    # reshape training set
    train_set = train_set.reshape(train_set.shape[0], train_set.shape[1])
    train_set_scaled = scaler.transform(train_set)
    
    # reshape test set
    test_set = test_set.reshape(test_set.shape[0], test_set.shape[1])
    test_set_scaled = scaler.transform(test_set)
    
    X_train, y_train = train_set_scaled[:, 1:], train_set_scaled[:, 0:1].ravel()
    X_test, y_test = test_set_scaled[:, 1:], test_set_scaled[:, 0:1].ravel()
    
    return X_train, y_train, X_test, y_test, scaler

X_train, y_train, X_test, y_test, scaler_object = scale_data(train, test)

In [9]:
y_train.shape

(2356,)

In [10]:
y_test

array([ 9.33558273e-01, -7.35468724e-01,  9.63191019e-01,  8.32872264e-01,
        8.54209754e-01,  9.92038639e-01,  8.98351415e-01,  6.92601084e-01,
        8.10987938e-01,  8.31835810e-01,  9.27200483e-01,  9.77408770e-01,
        8.90926026e-01,  9.84399586e-01,  9.62693434e-01,  8.46015173e-01,
        9.42070091e-01,  9.78197518e-01,  8.97516312e-01,  8.61293279e-01,
        8.90205361e-01,  9.47271195e-01,  9.47993309e-01,  9.33459770e-01,
        9.33720513e-01,  9.99660309e-01,  8.10185428e-01,  9.41022773e-01,
        8.54871752e-01,  9.41085786e-01,  9.62802802e-01,  8.98212351e-01,
        8.17951956e-01,  9.77513067e-01,  8.24844269e-01,  4.44185914e-01,
        9.11762309e-01,  9.77045902e-01,  9.69703082e-01,  7.28808907e-01,
        9.41219054e-01,  8.81456700e-01,  9.49402771e-01,  9.69818244e-01,
        8.18300338e-01,  8.53804154e-01,  9.63535056e-01,  9.03971880e-01,
        8.39142415e-01,  8.47707107e-01,  9.34138426e-01,  8.68171107e-01,
        9.91270171e-01,  8.39514699e-01,  5.98460456e-01,  5.59248292e-01,
        8.47398561e-01,  9.99109851e-01,  9.26175617e-01,  8.18386528e-01,
        9.98126270e-01,  8.24726935e-01,  9.11887611e-01,  9.18962445e-01,
        9.33991396e-01, -1.26883137e+00,  8.61840840e-01,  9.83778148e-01,
        9.84805911e-01,  8.68959855e-01,  8.60996322e-01,  9.71441371e-01,
        8.96760156e-01,  8.76472883e-01,  9.83943285e-01,  8.63889485e-02,
        8.18380734e-01,  8.81648636e-01,  9.41875258e-01,  9.91499770e-01,
        9.62939692e-01,  9.98292132e-01,  8.24747939e-01,  8.75993405e-01,
        6.49117801e-01,  8.96957162e-01,  8.97064357e-01,  9.91429514e-01,
        9.25813474e-01,  9.69569089e-01,  9.20069155e-01,  8.55054273e-01,
        9.91881469e-01,  9.98152344e-01,  8.25084008e-01,  8.39239470e-01,
        8.47846894e-01,  9.42124413e-01,  9.05854302e-01,  9.70814138e-01,
        9.63124385e-01,  9.12989251e-01, -5.81208668e-01, -5.18601315e-01,
        9.26864414e-01,  8.91077402e-01,  9.49582394e-01, -4.24529494e-01,
        8.76396108e-01, -4.96581547e-01,  1.03009883e-01, -4.81917372e+01,
        9.05342231e-01,  9.77902733e-01,  9.70422299e-01,  8.97001344e-01,
        9.91510634e-01,  8.53896138e-01,  9.84109871e-01,  9.85261487e-01,
        9.04744694e-01,  9.18947959e-01,  9.83999780e-01,  8.25122395e-01,
        8.18161275e-01,  9.69652382e-01,  8.32414515e-01,  8.69458165e-01,
        8.69034457e-01,  9.69985554e-01,  8.39355356e-01,  8.61235336e-01,
        8.54613906e-01,  8.96584879e-01,  8.47830960e-01,  9.69687872e-01,
        9.78598049e-01,  8.47297885e-01, -4.43490599e-01,  8.17945437e-01,
        9.40654835e-01,  9.05915142e-01,  5.98344570e-01,  8.60540745e-01,
        8.10260030e-01,  8.10680116e-01,  8.97556148e-01,  2.16409297e-01,
        9.34584587e-01, -5.38972606e-01,  8.68492690e-01,  9.49145649e-01,
        9.47806443e-01,  8.89871464e-01, -4.43528262e-01,  9.85507021e-01,
        8.68369562e-01,  9.70293376e-01,  8.61321526e-01,  8.69030835e-01,
        9.48674863e-01,  8.97041180e-01, -7.35759887e-01,  9.19632410e-01,
        5.98365574e-01,  9.77828132e-01,  8.10407060e-01,  9.49566460e-01,
        3.46740365e-01,  8.25165853e-01,  9.40887331e-01,  9.99419846e-01,
        8.91057846e-01,  8.31117317e-01,  8.61478697e-01,  9.04387621e-01,
        8.53659296e-01,  8.68712874e-01,  9.12390266e-01,  9.27169339e-01,
        8.46998755e-01,  9.33621286e-01,  5.98342397e-01,  9.98708597e-01,
        8.68439817e-01,  8.61793762e-01,  9.05445080e-01,  9.92560126e-01,
        8.33062752e-01,  8.97909600e-01,  9.84650914e-01,  9.34413655e-01,
        9.62608693e-01,  8.33022192e-01,  5.91099529e-01,  8.17715114e-01,
        8.97455472e-01,  8.47993925e-01,  9.77141508e-01,  8.33322771e-01,
        5.98530712e-01,  9.85032613e-01,  8.17226220e-01,  8.90327765e-01,
        9.12075201e-01,  9.12892921e-01,  8.10302763e-01,  8.24872516e-01,
        9.03062176e-01,  8.76154921e-01,  9.42009976e-01,  8.61727851e-01,
        9.05788392e-01,  9.99507485e-01,  9.70457065e-01,  8.53562242e-01,
       -5.60640371e-01,  8.61851704e-01,  8.31840156e-01,  9.49507793e-01,
        8.90873877e-01, -6.02131142e-01,  8.31861884e-01,  6.05796757e-01,
        9.41102444e-01,  8.97129543e-01,  9.99610334e-01,  9.04880136e-01,
        9.18824106e-01,  8.69000415e-01,  8.25973432e-01,  9.41706862e-02,
        8.38849804e-01,  8.61502598e-01,  9.91985042e-01,  9.33700957e-01,
        8.52446116e-01,  9.70114477e-01,  8.97169378e-01,  8.11033568e-01,
        5.91143710e-01,  8.89242059e-01,  8.33126489e-01,  8.90432062e-01,
        9.90642939e-01,  9.84732034e-01,  8.18226461e-01,  8.61346877e-01,
       -2.15790394e-02,  4.72832907e-01,  9.19525216e-01,  9.40839528e-01,
        9.42180907e-01,  4.44357570e-01,  7.99654298e-01,  8.47665098e-01,
        8.38823729e-01,  8.76269358e-01,  8.89642590e-01,  8.32369609e-01,
        9.63198262e-01,  8.31954593e-01,  9.92268962e-01,  8.32151599e-01,
        9.48277954e-01,  9.05540686e-01,  8.25112255e-01,  6.72981965e-02,
        8.18131579e-01,  9.18979828e-01,  8.61246925e-01,  9.48532178e-01,
        8.32337016e-01,  9.77609397e-01,  9.26513859e-01,  8.47283399e-01,
        8.46477268e-01,  9.41592062e-01,  8.89581025e-01,  9.54005614e-01,
        8.61247649e-01,  8.54024337e-01,  8.25063728e-01,  8.53171851e-01,
        8.61551850e-01,  9.77889696e-01,  9.12514843e-01,  9.34779420e-01,
        8.32613694e-01,  9.04792497e-01,  8.90260406e-01,  9.32116218e-01,
        8.18861660e-01,  7.40572411e-02,  8.32087137e-01,  9.85055066e-01,
        9.99000484e-01,  9.27073733e-01,  9.69658901e-01,  8.11051675e-01,
        6.05439684e-01,  9.04360098e-01,  8.17984549e-01,  9.41446480e-01,
        9.26513135e-01,  8.18337276e-01,  9.11970180e-01,  9.12596688e-01,
        8.38073368e-01,  9.69753782e-01,  9.26322647e-01,  5.91082146e-01,
        8.25547552e-01,  9.19547668e-01,  8.10750372e-01,  9.40339046e-01,
        9.26371175e-01,  8.25332439e-01,  8.39685631e-01,  4.95001878e-01,
        9.70350595e-01,  8.09928306e-01,  8.68944645e-01,  8.40646759e-01,
       -5.61031486e-01,  9.61780109e-01,  9.77526828e-01,  5.98511156e-01,
        9.70386809e-01,  8.60788451e-01,  8.96947747e-01,  8.46706143e-01,
        9.34007331e-01,  8.53686095e-01,  9.34362955e-01,  8.17788267e-01,
       -5.32122302e-01,  9.84079451e-01,  8.97204144e-01,  8.18642926e-01,
        7.28547439e-01,  8.11199430e-01,  5.91376207e-01,  8.68192836e-01,
        8.31693850e-01,  9.84028027e-01,  8.54726171e-01,  9.33157018e-01,
        8.53995365e-01,  9.11974525e-01,  8.25875654e-01,  9.48100503e-01,
        5.98467699e-01,  9.71087194e-01,  2.83141826e-02,  8.54796427e-01,
        8.40118754e-01,  8.97249774e-01,  9.18844386e-01,  8.39928991e-01,
        8.62120415e-01,  8.40108614e-01,  9.19496244e-01,  9.70056534e-01,
        9.18738640e-01,  9.84507505e-01,  8.25682993e-01,  8.61109310e-01,
        9.84011368e-01,  7.06821007e-01,  9.62271899e-01,  8.90020668e-01,
        5.51802623e-01,  4.08140332e-01,  9.68939684e-01,  8.47820820e-01,
        8.60907234e-01,  8.24446636e-01,  9.84398138e-01,  9.11485632e-01,
        8.60366192e-01,  8.61937170e-01,  8.40542462e-01,  8.53970015e-01,
        9.99983341e-01,  8.25919835e-01,  9.47797027e-01,  9.05737692e-01,
        9.84030200e-01,  9.83912865e-01,  8.69153964e-01,  8.69421950e-01,
        9.05013405e-01,  8.40299826e-01,  8.33022916e-01,  8.97370730e-01,
        9.11928171e-01,  9.99649445e-01,  9.47941160e-01,  8.53257317e-01,
        9.33218582e-01,  8.68464443e-01,  7.92800734e-02,  8.32728856e-01,
        9.99831965e-01,  9.19133376e-01,  8.32572410e-01,  9.71448613e-01,
        8.40117305e-01,  9.62120524e-01,  9.41562366e-01,  8.62132003e-01,
        5.98599519e-01,  9.27018687e-01, -4.84364020e+01,  9.34002985e-01,
        9.92224057e-01,  2.32955992e-02,  8.32350054e-01,  9.63100484e-01,
        9.91310731e-01,  9.62763690e-01,  9.41654351e-01,  9.03600321e-01,
        9.12470662e-01,  8.25197721e-01,  9.42170043e-01,  8.76236041e-01,
        3.17971693e-01,  8.97178794e-01,  8.24197481e-01,  8.53591938e-01,
        9.18879876e-01,  9.49071048e-01,  9.04324608e-01,  8.97651753e-01,
        8.54557412e-01,  8.26144364e-01,  9.49648304e-01, -5.03680282e-01,
        9.78196070e-01,  8.32405824e-01,  9.40609205e-01,  9.19152208e-01,
        9.77569561e-01,  9.19489001e-01,  9.19355008e-01,  9.26082184e-01,
        8.69231463e-01,  9.98326173e-01,  3.58938442e-02, -4.67472460e-01,
        9.99850797e-01,  8.32934553e-01,  8.18274988e-01,  8.18654514e-01,
        9.26998407e-01,  7.64787855e-01,  8.00314847e-01,  4.14836364e-01,
        9.63128006e-01,  9.62325497e-01,  8.90971656e-01,  9.19999623e-01,
        9.91686636e-01,  9.19054429e-01,  8.17915017e-01,  8.61807523e-01,
        9.20134341e-01,  9.40939480e-01,  8.25162231e-01,  9.91237578e-01,
        5.09646957e-01,  8.32777383e-01,  9.62868712e-01,  8.97259914e-01,
        9.63378610e-01,  8.53625979e-01,  9.91782242e-01, -9.48899392e-01,
        8.10175288e-01,  8.74407217e-01,  8.61392507e-01,  9.41290035e-01,
        9.98889668e-01,  8.00608184e-01,  8.47046558e-01,  7.98195584e-01,
        5.98478563e-01,  9.92033569e-01,  7.65150722e-01,  8.18506035e-01,
        8.25254216e-01,  8.54143120e-01,  8.89891020e-01,  9.04263768e-01,
       -8.55057894e-01,  9.25609949e-01,  8.18363351e-01, -4.95498738e-01,
        3.46856975e-01,  9.84046134e-01,  6.05532392e-01,  9.05195201e-01,
        9.48689349e-01,  9.34082656e-01,  8.75151059e-01,  8.18083776e-01,
        8.25131811e-01,  8.32499257e-01,  9.69684975e-01,  6.85146724e-01,
        8.53670885e-01,  9.41416060e-01,  9.42373568e-01,  9.49609917e-01,
        8.98339102e-01,  9.40685255e-01,  9.98830277e-01,  9.62571030e-01,
        8.69247397e-01,  8.47036418e-01,  8.10772101e-01,  9.83870132e-01,
        8.54374167e-01,  9.05776079e-01,  9.19261575e-01,  9.69883430e-01,
        6.49285835e-01,  6.41832199e-01,  8.47444915e-01,  9.41413163e-01,
        1.68427468e-01,  9.41005390e-01,  9.92237818e-01,  9.83991088e-01,
        9.91637384e-01,  9.34229687e-01,  9.40993801e-01,  8.39266993e-01,
        8.75205381e-01,  9.40790277e-01,  9.98543459e-01,  9.70338282e-01,
        8.76209966e-01,  8.53771561e-01,  9.84543719e-01,  9.34539681e-01,
       -4.43332704e-01,  8.75393695e-01,  9.77450778e-01,  9.05990468e-01,
        9.34705543e-01,  8.39906538e-01,  9.84114217e-01,  7.98399109e-01,
       -7.35863460e-01,  9.91877123e-01,  8.46433811e-01,  9.71450786e-01,
        8.24585699e-01, -4.29148996e-01,  8.39763854e-01,  8.10110102e-01,
        5.98550267e-01,  7.50458564e-01,  9.84809532e-01,  9.84454632e-01,
        9.26435636e-01,  9.99597297e-01,  8.75137298e-01, -4.71721851e-01,
       -4.42633043e-01,  9.98584019e-01,  9.18906675e-01,  8.54425592e-01,
        9.85107939e-01,  9.77313164e-01,  7.98312919e-01,  9.10653426e-01,
        8.97801681e-01,  8.54868855e-01,  4.01061877e-01, -5.50827009e-01,
        8.47142888e-01,  8.76283119e-01,  2.84836657e-02,  8.75760184e-01,
        9.33511194e-01,  2.38503667e-01])

In [11]:
regressor = RandomForestRegressor(n_estimators=100, max_depth=20)
regressor.fit(X_train, y_train)

RandomForestRegressor(max_depth=20)

In [12]:
y_pred = regressor.predict(X_test)
y_pred

array([ 0.82411105,  0.89049346,  0.81991149,  0.63414044,  0.87726721,
        0.93213383, -0.10471542,  0.75450177,  0.68149382,  0.8540556 ,
        0.78324804,  0.84959311,  0.8238327 ,  0.78162303,  0.81506349,
        0.76381432,  0.73896684,  0.74558672,  0.81506349,  0.87901188,
        0.86496292,  0.70339292,  0.86162291,  0.91762043,  0.91295045,
        0.83197389,  0.83873399,  0.82877501,  0.92637655,  0.82411105,
        0.82138649,  0.93364565,  0.91962393,  0.90131118,  0.81062405,
        0.90648583,  0.94428825,  0.84959311,  0.81438887,  0.8862269 ,
        0.84959311,  0.95059059,  0.91255108,  0.78658732,  0.87102056,
        0.8991408 ,  0.69684406,  0.84013359,  0.87901188,  0.89644694,
        0.79515277,  0.8027432 ,  0.7182353 ,  0.82877501,  0.82239006,
        0.8184328 ,  0.81506349,  0.89840968,  0.83871964,  0.86162291,
        0.79388418,  0.89503979,  0.74454543,  0.45202491,  0.92717552,
        0.8491872 ,  0.88617508,  0.62894511,  0.94878063,  0.8862269 ,
        0.82877501,  0.88880568,  0.86822647,  0.91678073,  0.51492883,
        0.83680419,  0.9367924 ,  0.9045363 ,  0.83028856,  0.70339292,
        0.84959311,  0.95570031,  0.78043252,  0.90369122,  0.8862269 ,
        0.68040175,  0.82455964,  0.84013359,  0.82492517,  0.79466091,
        0.73852516,  0.74454543,  0.92864218,  0.77532308,  0.82411105,
        0.6324914 ,  0.89450963,  0.89644694,  0.74939709,  0.91488842,
        0.91967995,  0.73852516,  0.8735732 ,  0.72467704,  0.79771304,
        0.85251643,  0.79466091,  0.77492291,  0.67651304,  0.76381432,
        0.87483619,  0.79546138,  0.78487722,  0.88767208,  0.84959311,
        0.8027432 ,  0.87901188,  0.84959311,  0.95570031,  0.88407929,
        0.45202491,  0.70864119,  0.91762043,  0.74558672,  0.93213383,
        0.88322698,  0.79466091,  0.73852516,  0.97392066,  0.84959311,
        0.65631646,  0.91792509,  0.85705344,  0.83871964,  0.88368266,
        0.84013359,  0.82987464,  0.86506749,  0.83468808,  0.86961288,
        0.77532308,  0.73655667,  0.87901188,  0.37037681,  0.44302988,
        0.8512109 ,  0.77770769,  0.88395477,  0.89049346,  0.84013359,
        0.89999064,  0.88201203,  0.82138649,  0.76381432,  0.72467704,
        0.8238327 ,  0.84013359,  0.59420164,  0.75450177,  0.96446219,
        0.87102056,  0.8027432 ,  0.76914137,  0.8491872 ,  0.92097245,
        0.91295045,  0.91762043,  0.87726721,  0.81506349,  0.52892425,
        0.82987464,  0.91295045,  0.80938278,  0.28818225,  0.82877501,
        0.87484268,  0.83871964,  0.82987464,  0.45202491,  0.9136333 ,
        0.81506349,  0.8491872 ,  0.504679  ,  0.8543796 ,  0.37037681,
        0.88368266,  0.59420164,  0.93355502,  0.87200924,  0.91460485,
        0.87102056,  0.79466091,  0.8491872 ,  0.87484566,  0.9045363 ,
        0.88499518,  0.84959311,  0.92303412,  0.76687203,  0.74454543,
        0.78043252,  0.89644694,  0.83154022,  0.81969001,  0.77770769,
        0.88559471,  0.90526105,  0.78043252,  0.77532308,  0.83279347,
        0.7182353 ,  0.91038542,  0.90313   ,  0.87205461,  0.79388418,
        0.70339292,  0.79388418,  0.67651304,  0.86796005,  0.89049346,
        0.76687203,  0.82411105,  0.88426468,  0.79466091,  0.88867781,
        0.70339292,  0.89049346,  0.76381432,  0.87901188,  0.94385183,
        0.95936662,  0.89840968,  0.84720895,  0.9102289 ,  0.37037681,
        0.76687203,  0.76687203,  0.84135656,  0.84013359,  0.82411105,
        0.81003703,  0.81003703,  0.76687203,  0.88617508,  0.88722373,
        0.87102056,  0.57501319,  0.81506349,  0.89049346,  0.81590397,
        0.82411105,  0.59420164,  0.88368266,  0.91210993,  0.84720895,
        0.76381432,  0.82492517,  0.81991149,  0.82138649,  0.8491872 ,
        0.70339292,  0.79466091,  0.7182353 ,  0.78016883,  0.6433108 ,
        0.94449896,  0.71857056,  0.79546138,  0.82411105,  0.84959311,
        0.8491872 ,  0.87102056,  0.76381432,  0.8543796 ,  0.72832175,
        0.8862269 ,  0.96711293,  0.89607131,  0.87901188,  0.88722373,
        0.84135656,  0.92864218,  0.89585675,  0.82932308,  0.76381432,
        0.82239006,  0.41530785,  0.85442829,  0.71857056,  0.8543796 ,
        0.74558672,  0.78162303,  0.90024508,  0.76381432,  0.89548607,
        0.90369122,  0.82138649,  0.87484566,  0.89049346,  0.78654715,
        0.65630417,  0.79388418,  0.84283713,  0.76381432,  0.66256099,
        0.88322698,  0.82987464,  0.96446219,  0.92869869,  0.86269309,
        0.70507173,  0.87901188,  0.90131118,  0.76381432,  0.78035352,
        0.88956648,  0.76381432,  0.89049346,  0.68149382,  0.82497963,
        0.77532308,  0.86455569,  0.84284351,  0.94996656,  0.78658732,
        0.82138649,  0.81003703,  0.79515277,  0.80938278,  0.81438887,
        0.84013359,  0.8834535 ,  0.84720895,  0.92469855,  0.72467704,
        0.82987464,  0.87880772,  0.8238327 ,  0.7744814 ,  0.89481281,
        0.78016883,  0.82877501,  0.83342988,  0.75840365,  0.83154022,
        0.94898033,  0.89223473,  0.82932308,  0.89974567,  0.89899014,
        0.83871964,  0.78016883,  0.82411105,  0.7182353 ,  0.90492231,
        0.87901188,  0.87102056,  0.65630417,  0.872685  ,  0.88322698,
        0.73852516,  0.8543796 ,  0.8491872 ,  0.90814212,  0.8577239 ,
        0.88956648,  0.8543796 ,  0.84959311,  0.91756769,  0.84959311,
        0.81506349,  0.97392066,  0.87484268,  0.8491872 ,  0.8543796 ,
        0.84601182,  0.82492517,  0.64803417,  0.82877501,  0.87901188,
        0.81438887,  0.88368266,  0.88407929,  0.91032884,  0.15060654,
        0.93245862,  0.7744814 ,  0.69684406,  0.8027432 ,  0.91355833,
        0.72467704,  0.95059059,  0.81506349,  0.87205461,  0.74213059,
        0.872685  ,  0.91962393,  0.78324804,  0.77492291,  0.76381432,
        0.8027432 ,  0.76687203,  0.77532308,  0.81003703,  0.89840968,
        0.84283713,  0.93213383,  0.9513266 ,  0.88956648,  0.58494637,
        0.82411105,  0.88368266,  0.8862269 ,  0.6637154 ,  0.45202491,
        0.92469855,  0.84959311,  0.8027432 ,  0.81590397,  0.84283713,
        0.504679  ,  0.91658433,  0.88722373,  0.88368266,  0.84283713,
        0.79466091,  0.80938278,  0.9045363 ,  0.72467704,  0.75450177,
        0.83873399,  0.70339292,  0.89809793,  0.86162291,  0.96034076,
        0.88322698,  0.81308852,  0.88355727,  0.78324804,  0.82987464,
        0.88956648,  0.8543796 ,  0.83871964,  0.78035352,  0.52892425,
        0.90024508,  0.88956648,  0.9045363 ,  0.82348195,  0.90742565,
        0.92932695,  0.88165249,  0.78043252,  0.9367924 ,  0.90376184,
        0.72467704,  0.8512109 ,  0.80938278,  0.76687203,  0.88499518,
        0.70339292, -0.08705869,  0.8577239 ,  0.88525207,  0.82138649,
        0.88867781,  0.94682014,  0.88368266,  0.90714397,  0.93098585,
        0.91792509,  0.83154022,  0.95570031,  0.87102056,  0.81003703,
        0.77492291,  0.87945942,  0.81922708,  0.82239006,  0.82138649,
        0.89503979,  0.79515277,  0.83917565,  0.91962393,  0.84283713,
        0.39015757,  0.92709462,  0.84013359,  0.94682014,  0.91792509,
        0.77084942,  0.81003703,  0.89886547,  0.77770769,  0.82348195,
        0.88322698,  0.82405604,  0.89548607,  0.78658732,  0.77532308,
        0.90427668,  0.8924444 ,  0.92717552,  0.81506349,  0.90954564,
        0.76381432,  0.84959311,  0.81590397,  0.8491872 ,  0.64803417,
        0.89548607,  0.91044886,  0.85683234,  0.77532308,  0.7974149 ,
        0.83596229,  0.89481281,  0.79771304,  0.76381432,  0.67651304,
        0.89326814,  0.8491872 ,  0.84959311,  0.774171  ,  0.92717552,
        0.91946927,  0.8543796 ,  0.87901188,  0.90024508,  0.88867781,
        0.88330148,  0.82411105,  0.84496715,  0.91762043,  0.81308852,
        0.88609282,  0.872685  ,  0.77532308,  0.8491872 ,  0.7744814 ,
        0.75450177,  0.76381432,  0.88867781,  0.93550776,  0.82138649,
        0.84959311,  0.8491872 ,  0.61528164,  0.91210993,  0.87901188,
        0.774171  ,  0.8238327 ,  0.94996656,  0.90131118,  0.75524009,
        0.82138649,  0.76687203,  0.82138649,  0.87901188,  0.92480917,
        0.78482257,  0.76381432,  0.91762043,  0.85883456,  0.87102056,
        0.8027432 ,  0.81506349,  0.94573251,  0.72766993,  0.92077193,
        0.88376789,  0.9248835 ,  0.83610286,  0.91644197,  0.89503979,
        0.76381432,  0.73655667,  0.88956648,  0.89055741,  0.93213383,
        0.8512109 ,  0.67651304,  0.84013359,  0.86822647,  0.88322698,
        0.8525314 ,  0.89481281,  0.81506349,  0.90742565,  0.81308852])

In [13]:
rmse = np.sqrt(mean_squared_error(y_pred, y_test))
print(f"RMSE: {rmse}")

RMSE: 2.8716100632177173

##Random ForestClassifier

In [14]:
df_clf =df[["Target_Salary","Target_Satisfied","dti","last_pymnt_amnt"]]
df_clf.head(11)

   Target_Salary Target_Satisfied    dti last_pymnt_amnt
0          42405                0   5.91          122.67
1          60740                1  16.06          926.35
2       51907.68                0  10.78         15813.3
3       51907.68                0  17.06           829.9
4             35                1  25.37        10128.96
5             35                0   10.2         7653.56
6          50598                0  14.67        15681.05
7          50623                1  17.61        14618.23
8          90000                0  13.07         1814.48
9          30683                0   34.8         4996.24
10         49492                0  22.98           508.3

In [15]:
df_clf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2946 entries, 0 to 2945
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Target_Salary     2946 non-null   object
 1   Target_Satisfied  2946 non-null   object
 2   dti               2946 non-null   object
 3   last_pymnt_amnt   2946 non-null   object
dtypes: object(4)
memory usage: 92.2+ KB

In [16]:
df_clf.describe()

       Target_Salary Target_Satisfied    dti last_pymnt_amnt
count           2946             2946   2946            2946
unique           519                2   1898            2678
top            52524                0  25.43          465.27
freq              82             2327      6              11

In [17]:
X = df_clf.drop(['Target_Satisfied'],axis=1).values
y = df_clf['Target_Satisfied'].values

In [18]:
X

array([['42405', '5.91', '122.67'],
       ['60740', '16.06', '926.35'],
       ['51907.68', '10.78', '15813.3'],
       ...,
       ['54100', '23.43', '23684.51'],
       ['54100', '26.55', '170.36'],
       ['36390', '35.9', '249.98']], dtype=object)

In [19]:
y

array(['0', '1', '0', ..., '0', '0', '0'], dtype=object)

In [20]:
X_train , X_test, y_train , y_test = train_test_split(X,y, test_size= 0.20,random_state= 21)

In [21]:
model = RandomForestClassifier(n_estimators=100, max_depth=20)

In [22]:
model.fit(X_train, y_train)

RandomForestClassifier(max_depth=20)

In [23]:
# make class predictions
y_pred = model.predict(X_test)
accuracy=accuracy_score(y_test, y_pred)
print(f'ACCURACY:{accuracy}')
print('\n')
# generate classification report
from sklearn import metrics
print(metrics.classification_report(y_test, y_pred))

ACCURACY:0.7864406779661017


              precision    recall  f1-score   support

           0       0.80      0.98      0.88       472
           1       0.21      0.03      0.05       118

    accuracy                           0.79       590
   macro avg       0.51      0.50      0.46       590
weighted avg       0.68      0.79      0.71       590

**f1 score is 0.88 show**